<title>Crossword Puzzle</title>
<script src="./node_modules/nwjs-kremlin/reload.js"></script>
<script>Reload.ignore(/[.](json|zip|crdownload)$/)</script>

<%= jquery />
<%= hashmap />
<%= jszip />
<%= file-saver />

  <style>
    
    table { border-collapse: collapse; }
    td { width: 1cm; height: 1cm; 
      border: 1px solid black;
      position: relative;
    }
    td i { top: 0; right: 1px; 
      position: absolute; 
      font-style: normal;
      font-size: smaller;
    }
    td.black { background: black; }
    td.highlit { background: rgba(255,255,0,0.2); }
    td p { margin: 0; text-align: center; 
      -webkit-user-modify: read-write;
      -moz-user-modify: read-write;
    }
    body { margin: 0; display: flex; align-items: stretch; height: 100%; }
    div.crossword-area {
      padding: 6px;
    }
    table#crossword {
      margin-bottom: 3px;
    }
    div.hints {
      background: url(data/birman.jpg);
      background-repeat: no-repeat;
      flex: 1;
      opacity: 0;
    }
  </style>
  <body>
    <div class="crossword-area">
      <table id="crossword">
      </table>
      <button id="reload">Reload</button>
      <button id="import">Import</button>
      <button id="clear">Clear</button>
      <button id="download">Download</button>
    </div>
    <div class="hints"></div>
  </body>
  <script src="grid.ls.js"></script>
  <script src="crossword.ls.js"></script>
  <script src="hints.ls.js"></script>
  <script src="web-server.ls.js"></script>
</html>
